@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #10141e !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "Cyberpunk";
  src: local("Cyberpunk"),
    url("./fonts/Cyberpunk_RUS_BY_LYAJKA.ttf") format("truetype");
  font-weight: normal;
}
